global
    daemon
    maxconn 20000
    nbthread 1

defaults
    mode tcp
    timeout connect 1s
    timeout client 5s
    timeout server 2s
    timeout queue 1s
    timeout check 500ms
    retries 0
    backlog 4096

frontend rinha_in
    bind :9999
    default_backend rinha_api

backend rinha_api
    balance roundrobin
    option httpchk
    http-check send meth GET uri /ready ver HTTP/1.1 hdr Host localhost
    http-check expect status 204
    default-server maxconn 3000 check inter 100ms fall 1 rise 1
    server api1 unix@/sockets/api1.sock
    server api2 unix@/sockets/api2.sock
